@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900');

body,html{
position:relative;
width:100%;
height:100%;
font-size:14px;
font-family: 'Open Sans', sans-serif!important;
}
html *, .handy-home *{
font-family: 'Open Sans', sans-serif !important;
}
html .fa, .handy-home .fa html .fa::before, .handy-home .fa::before{
font-family: 'FontAwesome' !important;
} 
html .glyphicon, .handy-home .glyphicon,html .glyphicon::before, .handy-home .glyphicon::before{
font-family:'Glyphicons Halflings' !important;
}

html .glyphicon.fa-star,html .glyphicon.fa-star-o,html .glyphicon.fa-star::before,html .glyphicon.fa-star-o::before{
  font-family: 'FontAwesome' !important;
}

/* h1,h2,h3,h4,h5,h6{
font-family: 'Raleway', sans-serif !important;
} */
/**handy-home-banner**/
 .handy-home-banner#banner{
		 background-size:cover;
		 background-repeat:no-repeat;
		 background-attachment:fixed;
         position:relative;
    float: left;
    width: 100%;
	min-height:350px;
	z-index:auto !important;
 }
 .handy-home-banner#banner::before{
 content:"";
 background:rgba(0,0,0,0.30);
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 }
 .handy-home-header{
 position:fixed;
 top:0;
 left:0;
 right:0;
 z-index: 999;
 }		 
 .handy-home-header .navbar{
 float: left;
 width:100%;
 background:transparent;
 border: none;
 border-radius: 0;	
 transition:all ease 1s;
     box-shadow: 0 0 0px 0px transparent;
 padding: 0 !important;	 
 }
 .handy-home-header .navbar.fixed{
   /*  background: rgba(0, 0, 0, 0.88); */
    background: rgba(33, 33, 33, 0.98);
 transition:all ease .4s;
  box-shadow: 0 0 11px 0px black;
 }
 .handy-home-header .navbar-brand {
    height: auto;
    max-height: 71px;
    padding: 20px 20px;
}	
 .handy-home-header .navbar-nav>li{
 padding-top:20px;
 padding-bottom:20px;
 margin-left:25px;
 }
 .handy-home-header .navbar-nav>li>a{
 color:#fff !important;
 border:1px solid rgba(255,255,255,0.70) !important;
 border-radius:3px;
 padding: 4px 20px;
    text-align: center;
    line-height: 21px;
 }
 .handy-home-header .navbar-nav>li>a img{
 margin-right:5px;
 }
 .handy-home-banner .banner-content{
 width:80%;
 margin: 15% auto 0;
 }
 .handy-home-banner .banner-content .main-title{
 color:#fff;
 font-size:50px;
 font-weight:bolder;
 text-align:center;
 }
 .handy-home-banner .banner-content .sub-title{
 color:#fff;
 font-size:30px;
 font-weight:normal;
 text-align:center;
 margin-bottom:45px;
 }
 .handy-home-banner .banner-content .search-wrap{
 background:rgba(255,255,255,0.30);
 padding:15px;
 border-radius:3px;
 float:left;
 width:100%;
 }
 .handy-home-banner .banner-content .search-wrap-inner{
 border-radius:3px;
 /* overflow: hidden; */
 }
 .handy-home-banner .banner-content .ui-select-container .selectize-input{
  height:50px !important;
 }
 .handy-home-banner .banner-content .search-wrap-inner input{
  background:#fff;
  outline:none;
  border:none;
  height:50px;
  border-radius:0;
  padding: 6px 25px;
  width: 100% !important;
 }
 .handy-home-banner .banner-content .search-wrap-inner .btn{
  background: #ff5400;
  color:#fff;
  text-align:center;
  padding: 14px;
  border-radius:0;
 }
 .handy-home-banner .banner-content .main-cat-search{
   width:40%;
   float:left;  
   position:relative;
 }
 .handy-home-banner .banner-content .main-cat-search input{
  border-right: 1px solid rgba(0,0,0,0.20);
 }
 .handy-home-banner .banner-content .sub-cat-search{
   width:40%;
   float:left;     
   position:relative;
   }
   .handy-home-banner .banner-content .btn-search{
   width:20%;
   float:left;
   }
/**handy-home-banner end**/

/**handy-home-overview**/
.handy-home-overview{
background:#f7f5f5;
min-height:367px;
text-align:center;
position: relative;
    float: left;
    width: 100%;
}
.handy-home-overview-inner{
background:#ffffff;
border-radius:5px;
position: relative;
    float: left;
    width: 100%;
	margin-top:-10em;
	margin-bottom:-7em;
padding: 1.2em 5em 2.5em;	
z-index:99;	

}
.handy-home-overview .main-title{
font-weight: 600;
color:#222222;
font-size:23px;
margin-top:0;
}
.handy-home-overview .sub-title{
font-size:15px;
color:#222222;
padding: 0 20px;
    line-height: 24px;
}
.handy-home-overview img{
   /* min-height: 117px;
    max-height: 117px;
    margin: 40px auto 45px; */
}
.btn-post-task{
background: #ff5400;
  color:#fff;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  padding: 10px 35px;
border-radius:25px;
margin:40px auto 20px;
border:1px solid transparent;  
transition:all ease .4s;
}
.btn-post-task:hover{
background: #fff;
color:#ff5400;
border:1px solid #ff5400; 
padding: 10px 28px; 
transition:all ease .2s;
}
/**handy-home-overview end**/

/**handy-home-testimonials end**/
.handy-home-testimonials{
min-height:400px;
text-align:center;
position: relative;
    float: left;
    width: 100%;
background-size:cover;
background-repeat:no-repeat;	
background-attachment:fixed;
padding:4em 0;
}
.handy-home-testimonials::before{
 content:"";
 background:rgba(0,0,0,0.65);
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 }
 .handy-home-testimonials .section-title{
 color:#fff;
 font-weight:600;
 margin:0 auto 2em;
 font-size:30px;
 }
.handy-home-testimonials .testimonials-wrap{
float:left;
width:100%;
margin-bottom: 35px;
}
.handy-home-testimonials .testimonials-wrap .author-image{
float:left;
max-width:20%;
margin-right:20px;
}
.handy-home-testimonials .testimonials-wrap .testimonials-content{
float:left;
width:70%;
}
.handy-home-testimonials .testimonials-wrap .testimonials-content p{
text-align:left;
color:#fff;
 font-size:15px;
 line-height:30px;
margin-bottom:20px;
}
.handy-home-testimonials .testimonials-wrap .author-name{
text-align:left;
color:#fff;
 font-size:15px;
 font-weight:600;
}
.handy-home-testimonials .testimonials-wrap .author-name .highlight{
color:#ff5400 !important;
}
.slick-prev, .slick-next {
border-radius: 3px!important;
    width: 25px!important;
    height: 25px!important;
}
/**handy-home-testimonials end**/

/**handy-home-payment start**/
.handy-home-payment{
background:#ffffff;
position: relative;
    float: left;
    width: 100%;
}
.handy-home-payment h2.section-title {
    font-size: 30px;
    color: #222222;
    font-weight: 600;
    margin: 60px auto 2em;
	text-align:center;
}
.handy-home-payment .payment-method {
    text-align: center;
    width: 100%;
}
.handy-home-payment .payment-method h4 {
    font-size: 22px;
    color: #222222;
    font-weight: 600;
	margin: 36px 0px 14px;
}
.handy-home-payment .payment-method p {
    font-size: 15px;
    color: #222222;
    line-height: 30px;
	 margin: 0px 0px 60px;

}
/**handy-home-payment end**/

/**handy-home-gallery start**/

.handy-home-gallery {
    width: 100%;
    float: left;
	background-color:#f7f5f6;
}
.handy-home-gallery h2.section-title {
    font-size: 30px;
    color: #222222;
    font-weight: 600;
    margin: 60px auto 2em;
    text-align: center;
}
.handy-home-gallery .pro-pict {
    margin-bottom: 25px;
	position:relative;
	border-radius: 4px;
	height: 100%;
	overflow:hidden;
}
/* .handy-home-gallery .pro-pict::before{
content:"";
height: 100%;
    width: 100%;
position:absolute;
top:0;
left:0;
background:rgba(0,0,0,0.10);
} */
.handy-home-gallery .pro-pict img {
    border-radius: 4px;
    width: 100%;
	height:100%;
}
.handy-home-gallery .morebtn-wrap{
float: left;
width: 100%;
margin: 20px 0px;
}
.handy-home-gallery button.btn.btn-default.view-more {
    margin: 0px 0px 30px;
    background-color: #222222;
    border-color: #222222;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 36px;
	transition:all ease .2s;
}
.handy-home-gallery button.btn.btn-default.view-more:hover{
background-color: #fff;
    border-color: #222222;
    color: #222222;
	padding: 12px 28px;
	transition:all ease .4s;
}
/**handy-home-gallery end**/

/**handy-home-newsletter start**/	
.handy-home-newsletter {
    width: 100%;
    float: left;
    background-color: #f2773b;
}
.handy-home-newsletter h2.section-title {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin: 40px 6px 10px;
	font-weight:600;
}
.handy-home-newsletter p {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
	    margin: 20px 0px 32px;
    padding:0px;
	}
.handy-home-newsletter .sub-email {
    width: 62%;
    margin: 0 auto;
}
.handy-home-newsletter .form-control {
    border-color: #ffffff;
    height: 50px;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.handy-home-newsletter button.btn.btn-default.subscribes {
    /* text-align: center; */
    margin: 28px 0px 40px;
    background-color: #222222;
    border-color: #222222;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 36px;
	transition:all ease .6s;
}
.handy-home-newsletter button.btn.btn-default.subscribes:hover {
    background-color: #fff;
    border-color: #fff;
    color: #222222;
	padding: 12px 28px;
	transition:all ease .3s;
}
.handy-home-newsletter .sub-section {
    width: 80%;
    margin: 0px;
	    float: left;
}
.handy-home-newsletter .app-section{
  width: 20%;
    margin: 0px;
	    float: left;
}
.handy-home-newsletter .app-section ul.app-main {
    padding: 0px;
    margin: 80px 0px;
}
.handy-home-newsletter .app-section ul.app-main li{
  list-style:none;
  margin:50px 0px 20px; 
  
}
/**handy-home-newsletter end**/	

/**handy-home-address start**/
.handy-home-address {
    width: 100%;
    float: left;
	padding: 28px 0px;
    background: #fff;
}
.handy-home-address h2.section-title {
    font-size: 22px;
    color: #222222;
    text-align: center;
    width: 46%;
    margin: 20px auto;
    font-weight: 600;
    line-height: 40px;
	}
.handy-home-address .map.location {
    width: 80%;
    margin: 40px auto;
}
.handy-home-address .map.location iframe,.handy-home-address .map.location ng-map {
    width: 100%;
    height: 220px;
	border-radius:8px;
	overflow: hidden;
}

/**handy-home-address end**/	

/**handy-home-footer start**/	
.handy-home-footer {
    width: 100%;
    float: left;
    background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	position:relative;
}
.handy-home-footer:after{
content:"";
position:absolute;
bottom:0;
left:0;
width:100%;
height:25px;
background: url('/uploads/images/homepage/footer-strip.png');
background-size: 100%;
background-repeat: no-repeat;
background-position: 50% 100%;
}
.handy-home-footer .footer {
    width: 100%;
    text-align: center;
    margin: 40px 0px;
	background: transparent !important;
    padding:0 !important;
}
.handy-home-footer .footer img {
  text-align:center;
}
.handy-home-footer .footer ul.social-icons {
    padding: 0px;
    margin: 20px 0px;
}
.handy-home-footer .footer ul.social-icons li {
    display: inline;
    padding: 0px 5px;
	list-style:none;
	
}
.handy-home-footer .footer ul.social-icons li i{
color: #222222;
    font-size: 13px;
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
	border:1px solid #222222;

}
.handy-home-footer .footer ul.social-icons li a{
   text-decoration:none;
}
.handy-home-footer .footer ul.social-icons li a i:hover{
   background-color:#fe5d0e;
   border-color:#fe5d0e;
   color:#fff;
   
}
.handy-home-footer .footer ul.footer_links {
    width: 100%;
    padding: 0px;
	    margin: 10px 0px 18px;

}
.handy-home-footer .footer ul.footer_links li{
     list-style: none;
    display: inline-block;
    padding: 0px 6px;
}
.handy-home-footer .footer ul.footer_links li a{
  color:#222222;
  font-size:14px;
}
.handy-home-footer .footer ul.footer_links li a:hover{
  text-decoration:none;
  color:#ff5400;
}
.handy-home-footer .footer p.copyright {
    color: #222222;
    font-size: 14px;
    padding: 0px;
    margin: 8px 0px 14px;
	border:none!important;
}
/**handy-home-footer end**/	

/**slick**/
.slick-prev{
left:47% !important;
right:initial !important;
bottom:-15px !important;
top:initial !important;
background:#ff732e !important;
color:#fff!important;
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next{
left:initial !important;
right:47% !important;
bottom:-15px !important;
top:initial !important;
background:#ff732e !important;
color:#fff!important;
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next:before{
    content: "\f105"!important;
    font: normal normal normal 14px/1 FontAwesome !important;
}
.slick-prev:before{
content: "\f104" !important;
    font: normal normal normal 14px/1 FontAwesome !important;
}

/**new fix**/
.ui-select-choices{
background: #fff;
position: absolute;
top:100% !important;
    z-index: 9999 !important;
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.25) !important;
	max-height:240px;
	overflow:auto;
	
}
.ui-select-choices-row{
padding: 5px 15px;
}
.ui-select-match{
background: #fff;
    outline: none;
    border: none;
    height: 50px;
	line-height: 38px !important;
    border-radius: 0;
    padding: 6px 25px;
	border-right: 1px solid rgba(0,0,0,0.20);
}
.navbar-toggle{
border:none!important;
background:transparent!important;
}
.sidenav-wrap{
width: 290px;
    height: 100%;
    position: fixed;
    left: -150%;
    padding: 25px 0;
    z-index: 99999;
	overflow-x:hidden;
	overflow-y:auto;
	transition: left ease .4s; 
	background: #fbfbfb;
    border-right:1px solid #eaeaea; 
    box-shadow: 0 0 12px #6d6d6d;	
}
.sidenav-wrap h2{
    margin: 0 auto 15px;
    color: #fd5300;
    text-align: center;
    font-size: 24px;
	padding: 0 25px;
}
.sidenav-wrap h2 i{
float:left;
font-weight: normal;
}
.sidenav-wrap ul{
    border-top: 1px solid #dadada  !important;
    margin-top: 25px;
}
.sidenav-wrap li {
   /* padding: 15px 25px; */
   padding: 0!important;
    margin-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #dadada  !important;
	    cursor: pointer !important;
}
.sidenav-wrap li a{
color:#212121;
font-size:16px;
display:block;
padding: 15px 25px !important;
    cursor: pointer !important;
}
.sidenav-wrap li a i{
margin-right: 10px;
color: #ff5401;
}
.jarallax {
    position: relative;
    /* z-index: 0; */
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/**Responsive**/
@media (max-width: 990px) {
	.sidenav-wrap h2 img{
	max-width:80%;
	}
   .handy-home .navbar-header {
        float: left;
		width:100%;
		padding: 0 15px;
		margin: 0;
    }
   .handy-home .navbar-left,.navbar-right {
        float: none !important;
    }
   .handy-home .navbar-toggle {
        display: block;
		padding: 19px 0px !important;
		outline:none!important;
    }
	.handy-home .navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
	transition: .5s ease;
	}
	.navbar-toggle .icon-bar:nth-child(1){transform: rotate(0)translateY(0)translateX(0);}
	.navbar-toggle .icon-bar:nth-child(2){opacity:1}
	.navbar-toggle .icon-bar:nth-child(3){transform:rotate(0)translateY(0)translateX(0);}
	.navbar-toggle.collapsed .icon-bar:nth-child(1){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
	.navbar-toggle.collapsed .icon-bar:nth-child(2){opacity: 0}
	.navbar-toggle.collapsed .icon-bar:nth-child(3){transform:rotate(45deg)translateY(-5px)translateX(-5px);}

   .handy-home .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
   .handy-home .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
   .handy-home .navbar-collapse.collapse {
        display: none!important;
    }
   .handy-home .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
   .handy-home .navbar-nav>li {
        float: none;
    }
   .handy-home .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   .handy-home .collapse.in{
        display:block !important;
    }
   .handy-home .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

@media (max-width: 990px) {
 .handy-home-testimonials{
   padding: 4em 15px;
 }
 button.slick-prev.slick-arrow {
    left: 40% !important;
}
button.slick-next.slick-arrow {
    right: 40% !important;
}
}

@media (max-width: 568px) and (max-width: 767px) {
.handy-home-banner#banner {
    min-height: 400px!important;
}
}
/**Responsive end**/

.slick-prev::before, .slick-next::before {
font-size: 20px!important;
}

/**new responsive design**/
/*-----------------responsoive--------------------*/
@media screen and (min-width:1024px) and (max-width:1200px){
.navbar-nav.navbar-right:last-child {
    margin-right: -3px!important;
}
.handy-home-banner#banner{
      height: 700px;
}
}

@media screen and (max-width:1024px) {
.ng-scope .img-responsive {
    display: inline-block;
    text-align: center;
}
.handy-home-banner .banner-content .main-title{
   font-size: 30px
}
.handy-home-banner .banner-content .sub-title{
      font-size: 20px;
}

}

@media screen and (min-width:768px) and (max-width:990px){
.handy-home-banner .banner-content .main-title{
   font-size: 32px;
}
.handy-home-banner .banner-content .sub-title{
    font-size: 26px;
}
.handy-home-banner .banner-content{
      margin: 30% auto 0;
}
}

@media screen and (max-width:767px) {
.handy-home-overview-inner{
  padding:0px!important;
}
.handy-home  button.navbar-toggle{
      padding: 23px 0px!important;
}
.handy-home  h2.section-title {
    font-size: 20px!important;
	font-weight:600;
}

.handy-home  h2.main-title {
    font-size: 18px!important;
}
.handy-home-address h2.section-title{
      width: 70%!important;
	  font-size: 20px!important;
	  font-weight:600;
}
.sub-email .group-control{
     width: 100%;
}
button.slick-next.slick-arrow {
    right: 41% !important;
}
.handy-home-banner .banner-content .main-title{
       font-size: 22px!important;

}
.handy-home-banner .banner-content .sub-title{
   font-size: 18px!important;
}
.handy-home-gallery h2.section-title{
 margin: 30px auto 30px;
  font-size: 20px!important;
  font-weight:600;
  padding: 0 20px;
}
.cat-txtt span{
      font-size: 20px!important;
}
.handy-home-payment .payment-method h4{
       font-size: 18px!important;
}
.spcf-dv{
      width: 100%;
}
.handy-home-overview-inner{
      position: static!important;
	      margin-top: 0px!important;
        margin-bottom: 0px;
}
}

@media screen and (max-width:567px) {
ul.app-main li{
     margin: 10px 6px 10px 0px;
}
a.navbar-brand img .mob-lg {
    /*width: 190px!important;*/
}
.handy-home-banner .banner-content{
      margin: 27% auto 0!important;
}
.handy-home-banner .banner-content .main-cat-search{
   width: 100%!important;
}
.handy-home-banner .banner-content .sub-cat-search{
     width: 100%!important;
}
.handy-home-banner .banner-content .btn-search{
      width: 100%!important;
}
.handy-home-banner .banner-content .main-cat-search input{
       border-bottom: 1px solid #ff5400!important;
}

}


/*-------------26/09/2017--------------*/
.acc-head h1.acc-tle{
    font-size: 30px;
    font-weight: 600;
}
.slick-initialized .slick-slide{
      outline: none;
}
.account-section span{
    font-weight: 600;
}
.user-pickup-detail h2{
    font-weight: 600;
}
.top-texts{
      font-weight: 600;
      font-size: 30px;
}
.tophln{
   font-weight: 600;
}
.task-dtls .chat_def h1, .col-right h1{
  font-size:30px;
  font-weight:600;
}
.st-pge.ng-binding h1 {
    font-size: 30px!important;
	font-weight:600!important;
}
.cont-us.ng-scope h2 {
    font-size: 30px!important;
    font-weight: 600!important;
}
.faqHeader{
    font-size: 30px!important;
    font-weight: 600!important;
}
h1.day-text{
      font-weight: 600;
}

.st-pge p{
      font-size: 15px;
}
.tas-list{
       font-weight: 600;
       font-size: 30px!important;

}
.footer span.info{
      font-size: 15px;
}


/*-------------27/09/2017--------------*/
@media screen and (max-width:767px) {
	.handyheader-heightfiller{
	height:63px;
	position:relative;
	}
	.handy-home-header .navbar-brand{
	padding:20px 0;
	}
}
@media screen and (min-width:768px) {
	.handyheader-heightfiller{
		height:71px;
		position:relative;
		}
}
.sidenavoverlay{
overflow:hidden;
}
.sidenavoverlay::before{
content:"";
background:rgba(0,0,0,0.5);
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index: 999;
}
.handy-home-innerheader{
 float: left;
    width: 100%;
}
.handy-home-innerfooter{
    float: left;
    width: 100%;
    background: #efefef;
}	


/**old design fix**/
.handy-main-cat-wrap  figure,.handy-main-cat-wrap  .afkl-lazy-wrapper{
height: 200px !important;
}
@media (max-width: 767px){
.handy-main-cat-wrap figure {
    height: auto !important;
}
.handy-main-cat-wrap  .afkl-lazy-wrapper{
  height: 200px !important;
  width: 100%;
}
}
.handy-home-gallery .cat-txtt {
    position: absolute;
    bottom: 15px;
	top:unset;
    display: inline-block;
    left: 25px;
}
.spcf-dv {
    height: 311px;
}
.handy-home-gallery .pro1 {
    height: 100%;
}
@media (min-width: 1024px){
	.handy-signup-holder{
		margin: 250px 0 0;
	}
}
.mb-20{
margin-bottom:20px;
}
.handy-home-gallery-inner h2.section-title{
 margin: 40px auto 30px;
}
.handy-home-gallery-inner h2.section-title span{
 position:relative;
 display:inline-block;
}
.handy-home-gallery-inner h2.section-title span::after{
content: "";
    width: 50px;
    height: 2px;
    display: block;
    margin: 7px auto;
    border-radius: 25px;
    background-color: #ff5400;
}
.handy-home-footer .handy-lang-section,.handy-home-footer .social-icons,.handy-home-footer .app-section,.handy-home-footer .footer_links,.handy-home-footer p.copyright{
float:left;
width:100%;
}
.handy-lang-section select.lang {
    background-color: #7c7c7c;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    height: 35px;
    width: 127px;
	padding:0 5px;
    margin: 10px 12px;
}
ul.app-main li {
    margin: 10px 12px;
}


a.slct-bx {
    padding: 7px 15px;
    float: left;
    width: 125px;
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    color: #fff;
    background: rgb(150, 150, 150);
    background-image: url(/uploads/images/homepage/darw1.png);
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 14px;
}
a.cur-bx {
    padding: 7px 15px;
    float: left;
    width: 125px;
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    color: #fff;
    background: rgb(150, 150, 150);
    background-image: url(/uploads/images/homepage/darw1.png);
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 14px;
}
.drpdwn, .cu-drpdwn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
    -webkit-transform: translateY(100%);
    margin: auto;
    width: auto;
    background: #efeeee;
    color: #252525;
    border: 1px solid rgba(0, 0, 0, 0.11);
        border-radius: 3px;
        box-shadow:-2px 3px 7px -3px rgba(0, 0, 0, 0.54);
}
.cu-drpdwn{
  box-shadow:2px 3px 11px -3px rgba(0, 0, 0, 0.54);
}
.lng-slt, .curncy-slt{
    position: relative;
    width: 300px;
    /* text-align: right; */
    /* float: left; */
    display: inline-block;
}
.drpdwn-cnt, .cu-drpdwn-cnt {
    /* width: 300px; */
    float: none;
    /*-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;*/
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    /*padding: 0px 5px;*/
}

.foot-lang {
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}
.drpdwn-cnt li {
    text-align: left;
    float: left;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    /* padding: 5px; */
    margin-bottom: 8px;
    /* padding: 4px 9px; */
    /* margin: 15px 15px; */
}
.cu-drpdwn-cnt li {
    text-align: left;
    float: none;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    /* padding: 5px; */
    margin-bottom: 8px;
    /* padding: 4px 9px; */
    /* margin: 15px 15px; */
}
.drpdwn{
  display:  none;
}
.drpdwn.show-ln{
  display:  block;
}
.cu-drpdwn{
  display: none;
}
.cu-drpdwn.show-cu{
  display: block;
}
.lng-slt .slct-bx{
  float: right;
}
.drpdwn-cnt li{
    cursor: pointer;
}
.cu-drpdwn li{
  cursor:pointer;
}
.drpdwn-cnt li:hover{
  color: #ff5400;
}
.cu-drpdwn li:hover{
  color: #ff5400;
}
.drpdwn-cnt li{
    width: 33.33%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 8px 10px;
    margin: 0px;
    border-bottom: 1px solid rgba(214, 206, 206, 0.35);
    border-right: 1px solid rgba(214, 206, 206, 0.35);
}
.curncy-slt li{
    width: 33.33%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 8px 10px;
    margin: 0px;
    border-bottom: 1px solid rgba(214, 206, 206, 0.35);
    border-right: 1px solid rgba(214, 206, 206, 0.35);
}
.drpdwn ul{
    max-height: 160px;
    overflow-y: auto;
}
.cu-drpdwn ul{
    max-height: 160px;
    overflow-y: auto;
}

.drpdwn ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.drpdwn ul::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}
.drpdwn ul::-webkit-scrollbar-thumb {
    background-color: #949494;
    border: 2px solid #949494;
}

.cu-drpdwn ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.cu-drpdwn ul::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}
.cu-drpdwn ul::-webkit-scrollbar-thumb {
    background-color: #949494;
    border: 2px solid #949494;

}

