<form name="Taskerreview">
<div class="modal-header">
    <h3 class="modal-title">{{'REVIEW'|translate }}</h3>
</div>
<div class="modal-body"  ng-class="{ 'has-error' : Taskerreview.$invalid && !Taskerreview.$pristine, 'has-success' : Taskerreview.$valid && !Taskerreview.$pristine}">
   <div class="form-group">
        <label for="line1">{{'RATE_YOUR_USER_FOR_THIS_TASK' | translate}} ?</label></br>
        <uib-rating name="rating" ng-model="TREM.review.rating" max="5" state-on="'fa fa-star text-orange text-lg'" state-off="'fa fa-star-o text-lg'"  on-blur-validation required ></uib-rating>
        <label  ng-show="Taskerreview.rating.$invalid && !Taskerreview.rating.$pristine">rating is required.</label>
    </div>
    <div class="form-group" >
        <label for="line1">{{'COMMENTS'|translate }}</label>
        <textarea type="text" class="form-control" ng-model="TREM.review.comments" ng-maxlength="200" name="comment"   on-blur-validation required ></textarea>
        <p ng-show="Taskerreview.comment.$invalid && !Taskerreview.comment.$pristine" class="help-block">Rating & Comments is required and should not be more than 200 characters</p>
		
    </div>
</div>

<div class="modal-footer">
 <button class="btn btn-primary" type="button" ng-disabled="Taskerreview.comment.$invalid ||Taskerreview.comment.$dirty && Taskerreview.rating.$invalid " ng-click="TREM.ok()">{{'OK'|translate }}</button>
    <button class="btn btn-warning" type="button" ng-click="TREM.cancel()">{{'CANCEL'|translate }}</button>
</div>
</form>
