<div class="availabilities-day-form adminweekmodal" id="viewdetails">
    <div class="availabilities-day-form adminweekmodal" id="viewdetails">
        <div class="">
            <div class="">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="TVMI.ok()" data-dismiss="modal">×</button>
                    <h1 class="day-text">{{'VIEW_TASK_DETAILS'| translate}}</h1>
                </div>
             <div class="modal-body">
                    <form method="post" action="savenewrate" id="addnewrate">
                        <ul class="view-detail-pop">
                            <li ng-if="TVMI.TaskInvite.user.avatar">
                                <div class="logo-container prof-image" id="taskerimage"><img id="theImg" class="img-circle" ng-src="{{TVMI.TaskInvite.user.avatar}}"></div>
                            </li>
                            <div class="text-danger" align="center">
                                <h3 ng-if="TVMI.TaskInvite.usertaskcancellationreason"> {{'TASK_CANCELLED'|translate }} </h3>
                            </div>
                            <li ng-if="TVMI.TaskInvite._id">
                                <label class="col-md-5">{{'BOOKING_ID'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.booking_id}}</p>
                            </li>
                            <li ng-if="TVMI.TaskInvite.user.username">
                                <label class="col-md-5">{{'USER_NAME'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.user.username}} </p>
                            </li>
                            <li ng-if="TVMI.TaskInvite.user.email">
                                <label class="col-md-5">{{'EMAIL'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.user.email}}</p>
                            </li>
                            <li ng-if="TVMI.TaskInvite.category.name">
                                <label class="col-md-5">{{'CATEGORY'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.category.name}}</p>
                            </li>
                            <li ng-if="TVMI.TaskInvite.status">
                                <label class="col-md-5">{{'TASK' | translate}} {{'STATUS' | translate}}:</label>
                                <p ng-if= " TVMI.TaskInvite.status == 1 " class="col-md-5" value="" readonly="">{{'PENDING'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 2 " class="col-md-5" value="" readonly="">{{'ACCEPTED'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 3 " class="col-md-5" value="" readonly="">{{'START_OFF'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 4 " class="col-md-5" value="" readonly="">{{'ARRIVED'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 5 " class="col-md-5" value="" readonly="">{{'TASK_STARTED'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 6 " class="col-md-5" value="" readonly="">{{'TASK_COMPLETED'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 7 " class="col-md-5" value="" readonly="">{{'PAYMENT_COMPLETED'| translate}}</p>
                                <p ng-if= " TVMI.TaskInvite.status == 8 " class="col-md-5" value="" readonly="">{{'TASK_CANCELLED'| translate}}</p>
                            </li>
                            <li ng-if="TVMI.TaskInvite.booking_information.booking_date">
                                <label class="col-md-5">{{'BOOKING DATE' | translate}}:</label>
                                <p  class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.booking_information.booking_date | date:'medium' }}</p>
                                <!-- <p  class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.history.booking_date | date:'medium' }}</p> -->
                            </li>
                            <!-- <li ng-if="TVMI.TaskInvite.booking_information.booking_date">

                                <label class="col-md-5">{{'JOB START DATE' | translate}}:</label>
                                <p  class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.booking_information.booking_date | date:'medium' }}</p>
                            </li> -->
                            <li ng-if="TVMI.TaskInvite.history.job_started_time">

                                <label class="col-md-5">{{'JOB STARTED AT' | translate}}:</label>
                                <p  class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.history.job_started_time | date:'medium' }}</p>
                            </li>
                            <li ng-if="TVMI.TaskInvite.history.job_completed_time">
                                  <label class="col-md-5">{{'JOB COMPLETED AT' | translate}}:</label>
                                  <p  class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.history.job_completed_time | date:'medium' }}</p>
                              </li>
                              <li ng-if="TVMI.TaskInvite.hourly_rate">
                                <label class="col-md-5">{{'HOURLY_RATE' | translate}}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol}}{{TVMI.TaskInvite.hourly_rate * TVMI.DefaultCurrency[0].value | number:2 }} {{'PER_HOURS' | translate}}</p>
                            </li>
                          </li>
                          <li ng-if="TVMI.TaskInvite.category.commision">
                            <label class="col-md-5">{{'MINIMUM_HOURLY_RATE' | translate}} :</label>
                            <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol}}{{TVMI.TaskInvite.category.commision * TVMI.DefaultCurrency[0].value | number:2 }} {{'PER_HOURS' | translate}}</p>
                        </li>
                        <li ng-if="TVMI.TaskInvite.status == 7 || TVMI.TaskInvite.status == 6">
                             <label class="col-md-5">{{'TASKER_EARNINIG'|translate }}:</label>
                             <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol }}{{((TVMI.TaskInvite.invoice.amount.grand_total - TVMI.TaskInvite.invoice.amount.service_tax))- TVMI.TaskInvite.invoice.amount.admin_commission * TVMI.DefaultCurrency[0].value | number:2}}</p>
                         </li>
						           <li ng-if="TVMI.TaskInvite.invoice.amount.extra_amount">
                                <label class="col-md-5">{{'MISCELLANEOUS_AMOUMT'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol }}{{TVMI.TaskInvite.invoice.amount.extra_amount * TVMI.DefaultCurrency[0].value | number:2}}</p>
                        </li>

                            <li ng-if="TVMI.TaskInvite.status == 7 || TVMI.TaskInvite.status == 6">
                                 <label class="col-md-5">{{'ADMIN_COMMISSION'|translate }}:</label>
                                 <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol }}{{TVMI.TaskInvite.invoice.amount.admin_commission | number:2}}</p>
                             </li>

                            <li ng-if="TVMI.TaskInvite.status == 7 || TVMI.TaskInvite.status == 6">
                                <label class="col-md-5">{{'TOTAL_AMOUNT'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol }}{{(TVMI.TaskInvite.invoice.amount.grand_total - TVMI.TaskInvite.invoice.amount.service_tax) * TVMI.DefaultCurrency[0].value | number:2}}</p>
                            </li>
                             <li ng-if="TVMI.TaskInvite.status == 7 || TVMI.TaskInvite.status == 6">
                                <label class="col-md-5">{{'HOURS WORKED'|translate }}:</label>
                                <p class="col-md-6" value="" readonly=""> {{TVMI.TaskInvite.invoice.worked_hours_human}}</p>
                            </li>
							              <!-- <li ng-if="TVMI.TaskInvite.invoice.amount.coupon">
                                <label class="col-md-5">{{'COUPON_DISCOUNT'|translate }}:</label>
                                <p class="col-md-6" value="" readonly="">{{TVMI.DefaultCurrency[0].symbol }}{{TVMI.TaskInvite.invoice.amount.coupon | number:2}}</p>
                            </li>-->
                            <li ng-if="TVMI.TaskInvite.task_description">
                                <label class="col-md-5">{{'TASK_DESCRIPTION'|translate }}:</label>
                                <p  class="col-md-6" style="word-break: break-all;" ng-bind="TVMI.TaskInvite.task_description"></p>
                            </li>

                            <li ng-if="TVMI.TaskInvite.usertaskcancellationreason">
                                <label class="col-md-4">{{'REASON_FOR_TASK_CANCELLATION'|translate }}:</label>
                                <p  class="col-md-6" value="" readonly="">{{TVMI.TaskInvite.usertaskcancellationreason}}</p>
                            </li>
                             <li ng-if="TVMI.TaskInvite.task_address">
                                <label class="col-md-4">{{'TASK_ADDRESS'|translate }}:</label>
                                <span class="col-md-6" value="" readonly="" class="addr-info" style="word-break: break-all;">
                                  {{TVMI.TaskInvite.task_address.line1}}<br>
                                 <span ng-if="TVMI.TaskInvite.task_address.line2">{{TVMI.TaskInvite.task_address.line2}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.task_address.city">{{TVMI.TaskInvite.task_address.city}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.task_address.landmark">{{TVMI.TaskInvite.task_address.landmark}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.task_address.state">{{TVMI.TaskInvite.task_address.state}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.task_address.country">{{TVMI.TaskInvite.task_address.country}},</span>
                                  <span ng-if="TVMI.TaskInvite.task_address.zipcode">{{TVMI.TaskInvite.task_address.zipcode}}</span>
                            </li>
                            <li ng-if="TVMI.TaskInvite.billing_address">
                                <label class="col-md-4">{{'BILLING ADDRESS'|translate }}:</label>
                                <span class="col-md-6" value="" readonly="" class="addr-info" style="word-break: break-all;">
                                  {{TVMI.TaskInvite.billing_address.line1}}<br>
                                  <span ng-if="TVMI.TaskInvite.billing_address.line2">{{TVMI.TaskInvite.billing_address.line2}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.billing_address.city">{{TVMI.TaskInvite.billing_address.city}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.billing_address.state">{{TVMI.TaskInvite.billing_address.state}},<br> </span>
                                  <span ng-if="TVMI.TaskInvite.billing_address.country">{{TVMI.TaskInvite.billing_address.country}},</span>
                                  <span ng-if="TVMI.TaskInvite.billing_address.zipcode">{{TVMI.TaskInvite.billing_address.zipcode}}</span>
                            </li>
							<!--<li>
                                <label class="col-md-6">{{USER_REMARKS | 'translate'}}:</label>
            					<rating class="col-md-6" ng-model="(TVMI.TaskInvite.reviews)/(TVMI.TaskInvite.total_reviews)" readonly="true">
								</rating>
                            </li>-->
                        </ul>
                    </form>
                </div>
                <!-- /.modal-content -->
                <div class="modal-footer">
                    <button type="button" class="bluebtn" data-dismiss="modal" ng-click="TVMI.ok()">{{'CANCEL'|translate }}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <style>
        .availabilities-day-form .modal-header {
            background-color: #545454;
        }

        #viewdetails .modal-body {
            float: left;
            text-align: left;
            width: 100%;
            background: #fff;
        }

        #viewdetails .modal-body {
            float: left;
            text-align: left;
            width: 100%;
            background: #fff;
        }

        #viewdetails .view-detail-pop>li label {
            font-weight: normal;
        }

        #viewdetails .view-detail-pop input {
            padding: 5px;
        }

        .modal-body {
            position: relative;
            padding: 20px;
        }

        #viewdetails .logo-container#taskerimage img.img-circle {
            width: 100px;
            height: 100px;
        }
    </style>
