<ul ng-if="ACC.taskList.length > 0" class="tablesection">
    <div class="table-responsive">
        <table class="table" border="1">
            <thead>{{ACC.GetTaskList}}
                <tr style="text-align:center;">
                    <th style="width:20px; ">#</th>
                    <th>{{'BOOKING_ID' | translate}}</th>
                    <th>{{'CATEGORY' | translate}}</th>
                    <th style="width: 21%;">{{'ADDRESS' | translate}}</th>
                    <th>{{'TASKER_NAME' | translate}}</th>
                    <th ng-if="ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7">{{'TOTAL_AMOUNT' | translate}}</th>
                    <th   ng-if="ACC.taskList[0].status == 1 || ACC.taskList[0].status == 2 || ACC.taskList[0].status == 3 || ACC.taskList[0].status == 4 || ACC.taskList[0].status == 5 || ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7 || ACC.taskList[0].status == 8">{{'STATUS' | translate}}</th>
                    <th style="text-align:center; width: 20%;">{{'ACTIONS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskDetails in ACC.taskList">
                    <td>{{ACC.taskListitemsPerPage * (ACC.taskListCurrentPage - 1)+$index+1}}</td>
                    <td>{{taskDetails.booking_id}}</td>
                    <td>{{taskDetails.category.name}}</td>
                    <td><span ng-if="taskDetails.task_address.line1">{{taskDetails.task_address.line1}},</span> <span ng-if="taskDetails.task_address.line2">{{taskDetails.task_address.line2}},</span><span ng-if="taskDetails.task_address.city">{{taskDetails.task_address.city}},</span><span ng-if="taskDetails.task_address.landmark">{{taskDetails.task_address.landmark}},</span><span ng-if="taskDetails.task_address.state">{{taskDetails.task_address.state}},</span><span ng-if="taskDetails.task_address.country">{{taskDetails.task_address.country}},</span><span ng-if="taskDetails.task_address.zipcode">{{taskDetails.task_address.zipcode}}</span></td>
                    <td>{{taskDetails.tasker.name.first_name}}({{taskDetails.tasker.username}})</td>
                    <td ng-if="(ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7) && (taskDetails.invoice.amount.balance_amount== 0)">{{rc.DefaultCurrency[0].symbol}}{{(taskDetails.invoice.amount.grand_total   - taskDetails.invoice.amount.coupon)  * rc.DefaultCurrency[0].value | number:2}}</td>
				            <td ng-if="(ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7) && (taskDetails.invoice.amount.balance_amount!= 0)">{{rc.DefaultCurrency[0].symbol}}{{taskDetails.invoice.amount.balance_amount  * rc.DefaultCurrency[0].value | number:2}}</td>
                   <td>
                    <li ng-if="taskDetails.status == 1">
					           <div> <label style="color:green">{{'PENDING' | translate}}</label></div>
					          </li>
                    <li ng-if="taskDetails.status == 2">
                        <div> <label style="color:green">{{'ACCEPTED' | translate}}</label></div>
                    </li>
          					<li ng-if="taskDetails.status == 3">
                                  <div> <label style="color:orange">{{'START_OFF' | translate}}</label></div>
                              </li>
          					<li ng-if="taskDetails.status == 4">
                                  <div> <label style="color:orange">{{'ARRIVED' | translate}}</label></div>
                              </li>
          					<li ng-if="taskDetails.status == 5">
                                  <div> <label style="color:orange">{{'TASK_STARTED' | translate}}</label></div>
                              </li>
          					<li ng-if="taskDetails.status == 6">
                                  <div> <label style="color:orange">{{'TASK_COMPLETED' | translate}}</label></div>
                              </li>
          					<li ng-if="taskDetails.status == 7">
                                  <div> <label style="color:green">{{'PAYMENT_COMPLETED' | translate}}</label></div>
                              </li>
          					<li ng-if="taskDetails.status == 8">
                                  <div> <label style="color:orange">{{'TASK_CANCELLED' | translate}}</label></div>
                    </li>
					        </td>
                    <td ng-if="taskDetails.status == 1" class="slidetd mob-actions pay-status" >
                        <!--<a href=""><i task-action class="fa fa-pencil-square-o actionclick"></i>
                       <ul class="action-space " style="display: none;">
                            <li ng-if="taskDetails.status == 1 || taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5"> <a ng-click="ACC.TaskDetailsViewModal($index)" href="javascript:void(0)" class="btn btn-secondary js-deactivate-trigger confrm conform" style="width:80px;">{{'VIEW' | translate}} </a></li>
                            <li ng-if="taskDetails.status == 1"> <a ng-click="ACC.TaskDetailsIgnoreModal(taskDetails._id,8)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                    style="width:80px;">{{'CANCEL' | translate}} </a></li>
                            <li ng-if="taskDetails.status == 1"> <a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                    style="width:80px;">{{'CHAT' | translate}} </a></li>
                        </ul>-->

                          <span ng-if="taskDetails.status == 1 || taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5" style="float: left; "><a href="javascript:void(0)" ng-click="ACC.TaskDetailsViewModal($index)" class="btn btn-secondary js-deactivate-trigger confrm conform" style="width:80px; margin-bottom: 7px;">{{'VIEW' | translate}}</a></span>
     					  <span ng-if="taskDetails.status == 1" style="float: left; "> <a ng-click="ACC.TaskDetailsIgnoreModal(taskDetails._id,8)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                          style="width:80px; margin-bottom: 7px">{{'CANCEL' | translate}} </a></span>
                          <span ng-if="taskDetails.status == 1" style="float: left; "> <a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-secondary js-deactivate-trigger confrm conform"
                         style="width:80px; margin-bottom: 7px;">{{'CHAT' | translate}} </a></span>

                    </td>
					<td ng-if="taskDetails.status == 6 || taskDetails.status == 7 " class="pay-status" >
                        <span ng-if="taskDetails.status == 6 " style="float: left; ">
                            <a  ng-disabled="taskDetails.invoice.status == 1" ui-sref="carddeatil({slug:taskDetails._id})"  class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px;  margin-bottom: 7px;">{{'PROCEED_TO_PAY' | translate}}</a>
                        </span>
<!-- 0={{taskDetails.rating.length != 0 && taskDetails.rating[0].type == 'user'}}1={{taskDetails.rating[1].type == 'user'}} 2={{taskDetails.rating[0].type == 'user'}}   3={{taskDetails.rating.length != 0}}  -->
						<span ng-if="taskDetails.status == 7 " style="float: left; ">
                            <a  ng-click="ACC.addReview(taskDetails)" ng-disabled="taskDetails.rating.length != 0 && taskDetails.rating[0].type == 'user' || taskDetails.rating[1].type == 'user' " href="javascript:void(0)"  class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px;  margin-bottom: 7px;">{{'Review Tasker' | translate}}</a>
                        </span>
						<span ng-if="taskDetails.status == 6 || taskDetails.status == 7" style="float: right;">
                        <a href="javascript:void(0)" ng-click="ACC.TaskDetailsViewModalforstatus($index)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                            style="width:80px; margin-bottom: 7px">{{'VIEW' | translate}}</a>
                     </span>
                     <span ng-if="taskDetails.status == 6 || taskDetails.status == 7" style="float: right;">
                        <a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                    style="width:80px; margin-bottom: 7px">{{'CHAT' | translate}} </a>
                        </span>
                    </td>

					      <td ng-if="taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5 || taskDetails.status == 8" class="pay-status">
                        <span><a href="javascript:void(0)" ng-click="ACC.TaskDetailsViewModal($index)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                            style="width:80px; margin-bottom: 7px;">{{'VIEW' | translate}}</a></span>
     						         <span ng-if="taskDetails.status == 2 "> <a ng-click="ACC.TaskDetailsIgnoreModal(taskDetails._id,8)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                          style="width:80px; margin-bottom: 7px">{{'CANCEL' | translate}} </a></span>
                          <span> <a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-secondary js-deactivate-trigger confrm conform"
                         style="width:80px; margin-bottom: 7px;">{{'CHAT' | translate}} </a></span>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ul>
<div style="margin-top: 200px;margin-left: 300px;" ng-if="ACC.taskList.length > 0" class="pagination_inner clearfix">
    <nav>
        <uib-pagination max-size="5" items-per-page="ACC.taskListitemsPerPage" ng-change="ACC.GetTaskList(ACC.status,ACC.taskCurrentPage)"
            total-items="ACC.taskListtotalItem" ng-model="ACC.taskCurrentPage" class="pagination pagination-lg" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
    </nav>
</div>
<div ng-if="ACC.taskList.length == 0"  record-response="ACC.getTaskListResponse" no-record num-records="ACC.taskList.length">
    <ul class="tablesection">
        <div class="emptyfie"><i class="fa fa-file-o"></i><span>{{'YOU HAVE NO' | translate}} {{ACC.status | translate}} {{'TASKS' | translate}}</span></div>
    </ul>
</div>

<style>
    .nav > li > a {
        border-right: 0px !important;
    }

    .nav > li.active > a {
        border-right: 0px !important;
    }

    .nav-tabs > li {
        padding: 5px 0;
    }

    .tabdetails .nav > li > a {
        padding: 0px 10px;
        font-size: 16px;
    }

    .slidetd .action-space {
        background: #ffffff none repeat scroll 0 0;
        width: auto;
    }

    .slidetd .action-space {
        background: #ffffff none repeat scroll 0 0;
        width: auto;
    }

    .action-space {
        background: #efefef none repeat scroll 0 0;
        padding: 9px 11px 0 0;
    }

    .action-space {
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
        position: absolute;
        right: 0;
        text-align: left;
        display: none;
    }

    .action-space {
        background: #efefef none repeat scroll 0 0;
        padding: 9px 11px 0 0;
    }

    .action-space {
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
        position: absolute;
        right: 6%;
        text-align: left;
        display: none;
    }

    ul.action-space.clickd li {
        float: left;
        padding: 0px 5px;
    }

    .action-space .confrm {
        width: auto!important;
    }

    .confrm {
        background: #14a89c;
        color: #fff;
        text-decoration: none;
        padding: 3px 8px;
        float: left;
        width: 85px !important;
        text-align: center;
        clear: both;
        margin: 0 0px 7px 0;
        border-radius: 4px;
        border: 1px solid transparent;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .emptyfie {
        color: red;
        font-size: 22px;
        margin: 50px 0 0;
        text-align: center;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .emptyfie>span {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
