<div ng-init="ACC.getUserWalletTransaction()" role="tabpanel" class="tab-pane" id="Transaction" read-only="true">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'S.NO'|translate }}</th>
                    <th>{{'TITLE'|translate }} </th>
                    <th>{{'TRANSACTION_AMOUNT'|translate }} </th>
          					<th>{{'BALANCE_AMOUNT'|translate }} </th>
          					<th>{{'TRANSACTION_TYPE'|translate }} </th>
          					<th>{{'TRANSACTION_DATE'|translate }} </th>
                    <!-- <th  style="width:50px;">{{'ACTIONS'|translate }}</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wallet in ACC.SubCategoryList | orderBy:'trans_date':true">

                    <td>{{ $index+1  + (ACC.currentPage * 10)-10 }}  </td>
                    <td> {{wallet.title}}</td>
                    <td>{{rc.DefaultCurrency[0].symbol}}{{wallet.trans_amount * rc.DefaultCurrency[0].value | number:2}}</td>
					          <td> {{rc.DefaultCurrency[0].symbol}}{{wallet.balance_amount * rc.DefaultCurrency[0].value | number:2}}</td>
					          <td> {{wallet.type}}</td>
                    <td>{{wallet.trans_date  | date:'MM/dd/yyyy'}}</td>
                    <!-- <td>
                        <a href="javascript:void(0)" ng-click="ACC.walletTransactionViewModal($index,wallet.ref_id)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                            style="width:80px;">{{'VIEW'|translate }}</a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="!ACC.SubCategoryList.length" class="emptyfie">
        <span>{{'YOU DONT HAVE ANY TRANSACTIONS YET'|translate }} !</span>
    </div>
    <div style="margin-top: 200px;margin-left: 300px;" ng-if="ACC.SubCategoryList.length > 0" class="pagination_inner clearfix">
        <nav>
            <uib-pagination max-size="5" items-per-page="ACC.numPerPage" ng-change="ACC.getUserWalletTransaction(ACC.currentPage)"
                total-items="ACC.totalitems" ng-model="ACC.currentPage" class="pagination pagination-lg" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </nav>
    </div>
</div>
