<div class="page page-forms-common">
   <!-- page header -->
   <div class="pageheader">
       <h2> {{'Menu.SETTINGS' | translate}} </h2>
       <div class="page-bar">
          <ul class="page-breadcrumb">
             <li>
                <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
             </li>
             <li>
                <a ui-sref="app.settings.languageSettings.list" > {{'Menu.SETTINGS' | translate}} </a>
             </li>
             <li>
                <a href="javascript:;">{{ LSEC.breadcrumb | translate }} </a>
             </li>
          </ul>
       </div>
    </div>
   <!-- /page header -->
   <!-- page content -->
   <div class="pagecontent">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-md-12">
            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen02">
               <!-- tile header -->
               <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Edit</strong> Languge</h1>
               </div>
               <!-- /tile header -->
               <!-- tile body -->
               <div class="tile-body">
                  <form role="form" name="languageForm" submit-validate enctype="multipart/form-data" novalidate>
                     <div class="form-group"  ng-class="{ 'has-error' :languageForm.languageName.$invalid && !languageForm.languageName.$pristine, 'has-success' : languageForm.languageName.$valid && !languageForm.languageName.$pristine}">
                        <label for="languageName">Language Name</label>
                        <input type="text" name="languageName" id="languageName" class="form-control"  ng-model="LSEC.languageData.name" aria-required="true" aria-invalid="true" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="languageForm.languageName.$invalid && !languageForm.languageName.$pristine">Language Name is required.</span>
                        </p>
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' :languageForm.languageCode.$invalid && !languageForm.languageCode.$pristine, 'has-success' : languageForm.languageCode.$valid && !languageForm.languageCode.$pristine}">
                        <label for="languageCode">Language Code</label>
                        <input type="text" name="languageCode" id="languageCode" class="form-control"  ng-model="LSEC.languageData.code" aria-required="true" aria-invalid="true" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="languageForm.languageCode.$invalid && !languageForm.languageCode.$pristine">Language code is required.</span>
                        </p>
                     </div>

                     <div class="form-group" ng-class="{ 'has-error' :languageForm.enable_disable.$invalid && !languageForm.enable_disable.$pristine, 'has-success' : languageForm.enable_disable.$valid && !languageForm.enable_disable.$pristine}">
                        <label for="paymentMode">Enable/Disable</label>
                        <select id="paymentMode" name="enable_disable" ng-init="LSEC.languageData.status=(LSEC.languageData.status ? LSEC.languageData.status : '1')" ng-model="LSEC.languageData.status" convert-to-number class="form-control mb-10" on-blur-validation required>
                            <option value="1">Enable</option>
                            <option value="2">Disable</option>
                            <p class="help-block">
                           <span ng-show="languageForm.enable_disable.$invalid && !languageForm.enable_disable.$pristine">enable/disable currency name</span>
                        </p>
                        </select>
                    </div>
                     <button type="submit" ng-click="LSEC.submitlanguage(LSEC.languageData,languageForm.$valid)" class="btn btn-rounded btn-success btn-sm">Submit</button>
                  </form>
               </div>
               <!-- /tile body -->
            </section>
            <!-- /tile -->
   </div>
   <!-- /col -->
</div>
<!-- /row -->
</div>
<!-- /page content -->
</div>
