.signup-page {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
	background:#00954a;
}

.blue-btn:hover, .grn-btn:hover {
    background-color: #00954a;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.backbutton{
    float: left;
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: 20px;
    background: #00954a;
    padding: 15px 10px;
    color: #fff;
    
}
.uplor-pice {
    background: #00954a;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 18px;
    padding: 10px 23px;
    width: 100%;
    text-align: center;
}

.availabilities-day-form .modal-header {
    background-color: #00954a;
}
.availabilities-day-form input:checked + .switch {
    background:#00954a none repeat scroll 0 0;
    
}
.bluebtn {
    background: #00954a;
    color: #fff;
    padding: 11px 30px;
    border: none;
    border-radius: 3px;
    font-family: proximanovaregular;
    font-size: 20px;
    border: 1px solid transparent;
    text-transform: capitalize;
	width:100%;
}
.panel-group .panel-heading a {
  display: block;
  background: #00954a;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  position: relative;
  font-size: 17px;
}
.panel-group .panel-heading a.collapsedit{
     background: #276f4b;
  color: #fff;
  font-size: 14px;
}