<div class="page page-tables-bootstrap">
    <div class="pageheader">
        <h2>{{ 'Menu.TASKS' | translate }} </h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">{{ 'Menu.TASKS' | translate }}</a>
                </li>
                <li>
                    <a href="javascript:;">{{ 'SubMenu.TASKS_LIST' | translate }}</a>
                </li>
            </ul>
            <div class="page-toolbar ng-scope" ui-sref="app.tasks.viewsTasks"  >
            <a class="btn btn-lightred no-border ng-isolate-scope">
            <i class="fa fa-arrow-left"></i>
            <span class="ng-binding">Back</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>
            </div>
        </div>
    </div>


        <div class="row">
            <div class="col-md-12">
                <section class="tile list-task" fullscreen="isFullscreen07">
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Tasks</strong> List</h1>
                    </div>
                    <custom-table data="DTTC.table" delete-call="DTTC.deletedData"></custom-table>
                </section>
            </div>
        </div>
    </div>
</div>
