<div class="page page-forms-common">
      <div class="pageheader">
            <h2>{{ 'Menu.SETTINGS' | translate }}</span></h2>
            <div class="page-bar">
                  <ul class="page-breadcrumb">
                        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
                        <li><a ui-sref="app.settings.seoSettings">{{'Menu.SETTINGS'|translate}}</a></li>
                        <li> {{'SubMenu.SEO_SETTINGS'|translate}} </li>
                  </ul>
            </div>
      </div>
      <div class="pagecontent">
            <div class="row">
                  <div class="col-md-12">
                        <section class="tile" fullscreen="isFullscreen02">
                              <form role="form" submit-validate enctype="multipart/form-data" name="seoSettingsForm" novalidate>
                                    <div class="tile-body">
                                          <h4 class="custom-font text-strong">Default SEO Settings</h4>
                                          <div class="form-group" ng-class="{ 'has-error' :seoSettingsForm.name.$invalid && !seoSettingsForm.name.$pristine, 'has-success' : seoSettingsForm.name.$valid && !seoSettingsForm.name.$pristine}">
                                                <label for="exampleInputEmail1">SEO Title</label>
                                                <input type="text" name="name" id="name" class="form-control" ng-model="SSC.seoSettings.seo_title" required="" aria-required="true"
                                                      aria-invalid="true" on-blur-validation required>
                                                <p class="help-block">
                                                      <span ng-show="seoSettingsForm.name.$invalid && !seoSettingsForm.name.$pristine"> seo title is required.</span>
                                                </p>
                                          </div>
                                          <div class="form-group" ng-class="{ 'has-error' :seoSettingsForm.focuskeyword.$invalid && !seoSettingsForm.focuskeyword.$pristine, 'has-success' : seoSettingsForm.focuskeyword.$valid && !seoSettingsForm.focuskeyword.$pristine}">
                                                <label for="exampleInputEmail1">Focus Keyword</label>
                                                <input type="text" name="focuskeyword" id="focuskeyword" class="form-control" ng-model="SSC.seoSettings.focus_keyword" required=""
                                                      aria-required="true" aria-invalid="true">
                                          </div>
                                          <div class="form-group" ng-class="{ 'has-error' :seoSettingsForm.message.$invalid && !seoSettingsForm.message.$pristine, 'has-success' : seoSettingsForm.message.$valid && !seoSettingsForm.message.$pristine}">
                                                <label for="exampleInputEmail1">Meta Description</label>
                                                <textarea class="form-control" rows="7" name="message" id="message" ng-model="SSC.seoSettings.meta_description" placeholder="Copy and Paste your Google Analytics Code Here"
                                                      aria-multiline="true" aria-required="true" aria-invalid="true"></textarea>
                                          </div>
                                          <hr class="line-dashed line-full">
                                          <h4 class="custom-font text-strong">Webmaster Tools</h4>
                                          <div class="form-group" ng-class="{ 'has-error' :seoSettingsForm.message.$invalid && !seoSettingsForm.message.$pristine, 'has-success' : seoSettingsForm.message.$valid && !seoSettingsForm.message.$pristine}">
                                                <label for="exampleInputEmail1">Google Analytics</label>
                                                <input type="text" name="name" id="name" class="form-control" ng-model="SSC.seoSettings.webmaster.google_analytics" equired=""
                                                      aria-required="true" placeholder="UA-67555013-1" aria-invalid="true" on-blur-validation
                                                      required>

                                                <p class="help-block">
                                                      <span ng-show="seoSettingsForm.message.$invalid && !seoSettingsForm.message.$pristine"> seo title is required.</span>
                                                </p>
                                          </div>
                                    </div>
                                    <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                                          <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="SSC.saveSeoSettings(seoSettingsForm.$valid,SSC.seoSettings)">Submit<i class="fa fa-arrow-right"></i></button>
                                    </div>
                              </form>
                        </section>
                  </div>
            </div>
      </div>
</div>