<div class="bgcontainer post_step_last erroe-pge">
<!-- <div class="profilepage-top" style="background:rgb(63, 63, 63) url('{{rc.bgimage.image}}');"> -->
<div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>
    <span class="opacot"></span>
    <div class="cont-holder">
        <div class="splcontainer">
            <div class="images-lom">
                <a href="\"><img src="{{rc.getsetting.logo}}" style= " width:300px"></a>
            </div>
            <div class="leftside error-content">
                <div class="col-md-7 intro-text">
                    <div class="main">
                        <span class="error-img"><img src="app/site/public/images/404.png" alt="404 icon"></span>
                        <h1> {{'PAGE NOT FOUND' | translate}}</h1>
                        <p>{{'PAGE NOT FOUND CONTENT' | translate}}.</p>
                        <!-- <button type="button" class="btn btn-warning" ui-sref="landing">Back to Home </button> -->
                        <span class="page-scroll">
                          <a class="btn slide-btn bg-inverse" href="\">{{'BACK TO HOME' | translate}}</a>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .footer {
        display: none;
    }
</style>
