<div class="signup-page mob-bx">
  <div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>

<div class="sign-up-holder login-holder">
  <div class="logo-container">
    <a ui-sref="landing"><img src="{{rc.getsetting.logo}}"></a>
  </div>
  <form ng-submit="login()" role="form" name="forgetpasswordform" class="form-validation mt-20" method="post" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : forgetpasswordform.email.$invalid && !forgetpasswordform.email.$pristine, 'has-success' : forgetpasswordform.email.$valid && !forgetpasswordform.email.$pristine}">
      <input type="email" autocomplete="remember==true?on:off" class="form-control underline-input" name="email" placeholder="{{'EMAIL_ADDRESS' | translate}}"
        ng-model="PWUC.email" required>
      <span ng-show="forgetpasswordform.email.$dirty && forgetpasswordform.email.$error.required" class="help-block">{{'EMAIL IS REQUIRED' | translate}}</span>
    </div>
    <div class="frget-pwd arrange">
      <a class="" ui-sref="login">{{'GO TO LOGIN' | translate}}</a>
    </div>
    <input class="borderbtn" ng-click="PWUC.forgotpass(forgetpasswordform.$valid,PWUC.email)" value="{{'SUBMIT' | translate}}"
      type="submit">
  </form>
</div>
</div>
<script type="text/javascript">
  $(".dropdown-filter-full").click(function () {

    $(".filter-full").slideToggle();

  });
</script>
