

<section class="handy-home-gallery">
    <div class="container">
      <div class="row">
        
        <div class="cvr-dv col-md-12 col-sm-12 col-xs-12">
          <div class="spcf-dv col-md-4 col-sm-4" ng-repeat="categoryinfo in MOC.data">
            <div class="pro1">
              <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">
                <div afkl-lazy-image="{{categoryinfo.image}}" class="pro-pict afkl-lazy-wrapper" lazyerr>
                   <!-- <img src="{{categoryinfo.image}}" err-src> -->
                </div>
                <div class="cat-txtt">
                  <span>{{categoryinfo.name}}</span>
                </div>
              </a>
            </div>

          </div>
        </div>

        <!-- <div class="text-center">
         <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ui-sref="landing">Go Back to Home</button>
        </div> -->
      </div>
    </div>
  </section>
  

<section>
  <div class="container">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <!--
     <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-20" ui-sref="landing">Go Back to Home</button>
     -->
  </div>
  </div>
   <!--  <div class="hirecontainer">
        <div class="container">
             <ul class="hireloop handy-main-cat-wrap">
                 <li class="col-md-4" ng-repeat="categoryinfo in MOC.data"> 
                    <div class="prodt-container">
                        <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">
                            <figure>
                                <div afkl-lazy-image="{{categoryinfo.image}}" class="afkl-lazy-wrapper" lazyerr></div>
                                --
                                <img src="{{categoryinfo.image}}" err-src>
                                --
                                <div class="mask"></div>
                            </figure>
                            <figcaption>
                                <h4 class="futer-text">{{categoryinfo.name}}</h4>
                            </figcaption>
                        </a>
                    </div>
                </li>			
            </ul> 
			<button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ui-sref="landing">Go Back to Home</button>
        </div>
    </div> -->
</section> 
