
	<div class="pay-status">
		<div class="container2">
			 <div class="payment-stus">
			 	<!-- success -->
			 	<div class="success-stus">
			 		<div class="checkmark-circle">
					  	<div class="background"></div>
					  	<div class="checkmark draw"></div>
					</div>
					<span>Wallet Recharged Successfully by Remita</span>
					<a class="blue-btn btn-bck" ui-sref="account">{{'GO_TO_ACCOUNT_PAGE'|translate }}</a>
				</div>
				<!-- success -->
				<!-- failure -->
				<!-- <div class="success-stus fail-stus">
			 		<div class="checkmark-circle fail-ico">
					  	<div class="background"></div>
					  	<div class="checkmark draw fail-ic"></div>
					</div>
					<span>Payment Failed</span>
					<a class="blue-btn btn-bck" ui-sref="account">Go To Account Page</a>
				</div> -->
				<!-- failure -->
	    	</div>
		</div>
	</div>
