<div class="availabilities-day-form adminweekmodal">
    <div class="">
        <div class="">
<div class="modal-header modal-header-success ">
  <button style="float : right"type="button" class="btn btn-danger" ng-click="DATA.cancel()" data-dismiss="modal">X</button>
    <h3 class="modal-title"> {{'DELETE_ADDRESS' | translate}}</h3>
</div>
  <div class="modal-body">
<h4> {{'ARE YOU SURE YOU WANT TO DELETE' | translate}} ?</h4>
  </div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="DATA.ok()">{{'OK' | translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="DATA.cancel()">{{'CANCEL' | translate}}</button>
  </div>

  </div>
  </div>
  </div>

<style>
  .confirm_mod_al label
  {
    width: 25%;
    float: left;;
  }
</style>
