<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a2zkaj.app">

<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.a2zkaj.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.quickrabbitpartner.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Camera Permission -->

    <!--<uses-feature
        android:name="android.hardware.camera"
        android:required="false" />-->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!--
     <uses-feature android:name="android.hardware.camera" android:required="false" />
     <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    -->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="core.Volley.AppController"
        android:allowBackup="true"
        android:icon="@drawable/handyexpertslogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.a2zkaj.app.Splashpage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCgwBM4YLj1gCHpRw2e29tN8QaXRJApU1Y" />

        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="com.a2zkaj.app.TrackDestination" />
        <activity
            android:name="com.a2zkaj.app.MainPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.a2zkaj.app.RegisterPageWebview"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.a2zkaj.app.NavigationDrawer"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.MyJobs"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemeTab"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.AboutUs"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemeTab"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ProfilePage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.LoadingPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.BankDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.GetMessageChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.MyJobs_OnGoingDetailPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.NewLeadsPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.LocationSearch"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.a2zkaj.app.WorkLocationEditSearch"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.a2zkaj.app.ViewOnMap"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.Cancel_Job_Reason"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.PaymentFareSummery"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ChatPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.a2zkaj.app.StatisticsPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ReceiveCashPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ReviwesPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.a2zkaj.app.OtpPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.SupportPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.MoreInfoPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.Job_WorkFlow"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.EditProfilePage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.FotgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ChangePassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ConversationPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.RequestPaymnet_LoadingPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.ChatList"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="core.Xmpp.Xmpp_PushNotificationPage"
            android:screenOrientation="portrait"
            android:theme="@style/PushNotificaton_NoActionBar_Transparent_Theme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name="core.gcm.GCMNotificationIntentService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="core.socket.ChatMessageService" />
        <service android:name="com.a2zkaj.Utils.SocketCheckService" />

        <receiver
            android:name="com.a2zkaj.Utils.RestartService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartApps" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>

        <!-- <receiver -->
        <!-- android:name="com.quickrabbitpartner.GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" /> -->


        <!-- <category android:name="com.Jinzzypartner" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- Firebase Notifications -->
        <service android:name="com.a2zkaj.FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.a2zkaj.FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <service
            android:name="com.a2zkaj.Utils.IdentifyAppKilled"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity android:name="com.a2zkaj.app.ListActivity" />
        <activity
            android:name="com.a2zkaj.app.mageweb"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.a2zkaj.app.ShowWebView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.a2zkaj.app.Reviewimageviewclass"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.a2zkaj.app.TransactionMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.a2zkaj.app.TransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.a2zkaj.app.ReviewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.a2zkaj.app.NotificationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.a2zkaj.app.Track_your_ride"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.a2zkaj.app.EditCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.a2zkaj.app.SettingsPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
    </application>

</manifest>