<div class="page page-tables-bootstrap">
   <!-- page header -->
   <div class="pageheader">
       <h2>{{ 'Menu.PEOPLECOMMENTS' | translate }} </h2>
       <div class="page-bar">
          <ul class="page-breadcrumb">
             <li>
                <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
             </li>
             <li>
                <a ui-sref="app.categories.list">{{ 'Menu.PEOPLECOMMENTS' | translate }} List</a>
             </li>
             <li>
                <a ui-sref="app.banner.editBanner" href="#/app/banner/edit-banner">{{ 'SubMenu.PEOPLE_COMMENT_ADD' | translate }}</a>
             </li>
          </ul>
       </div>
    </div>
   <!-- /page header -->
   <!-- page content -->
   <div class="pagecontent">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-md-12">
            <!-- tile -->
            <section class="tile" >
               <!-- tile header -->
               <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Add People Comments</strong></h1>
               </div>
               <!-- /tile header -->
               <div class="tile-body" style="padding-bottom: 80px;">
                  <form class="profile-settings" submit-validate enctype="multipart/form-data" name="peoplecmdForm"  novalidate>

                     <div class="form-group" ng-class="{ 'has-error' : peoplecmdForm.PeopleName.$invalid && !peoplecmdForm.CategoryName.$pristine, 'has-success' : peoplecmdForm.CategoryName.$valid && !peoplecmdForm.CategoryName.$pristine}">
                        <label for="PeopleName">People Name</label>
                        <input type="text" name="PeopleName" ng-pattern="/^[a-zA-Z]*$/" class="form-control" ng-model="EPCC.editpeopletData.name" id="PeopleName" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="peoplecmdForm.PeopleName.$invalid && !peoplecmdForm.PeopleName.$pristine">People Name.</span>
                        </p>
                     </div>

                      <div class="form-group" ng-class="{ 'has-error' : peoplecmdForm.profession.$invalid && !peoplecmdForm.profession.$pristine, 'has-success' : peoplecmdForm.profession.$valid && !peoplecmdForm.profession.$pristine}">
                        <label for="profession">Profession Name</label>
                        <input type="text" name="profession" class="form-control" ng-model="EPCC.editpeopletData.profession" id="profession" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="peoplecmdForm.profession.$invalid && !peoplecmdForm.profession.$pristine">Profession Name.</span>
                        </p>
                     </div>

                     <div class="form-group" ng-class="{ 'has-error' : peoplecmdForm.image.$invalid && !peoplecmdForm.image.$pristine, 'has-success' : peoplecmdForm.image.$valid && !peoplecmdForm.image.$pristine}">
                        <label class="control-label">People Image</label>
                        <input ui-jq="filestyle" type="file" required ngf-select="temp=true" ng-model="EPCC.editpeopletData.image" name="image"
                               ngf-max-size="1MB" ngf-pattern="'image/jpg,image/jpeg,image/png,image/gif'" ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}" id="image" ng-required="!EPCC.editpeopletData._id">
                        <div class="form-group" ng-class="{ 'has-error' : peoplecmdForm.image.$invalid && !peoplecmdForm.image.$pristine, 'has-success' : peoplecmdForm.image.$valid && !peoplecmdForm.image.$pristine}">
                           <span class="help-block">Allowed files: jpeg, png, jpg. Max file size 1Mb</span>
                           <img ng-if="temp" height="150" ngf-src="EPCC.editpeopletData.image" >
                           <img ng-if="!temp&&!EPCC.editpeopletData.image==''" height="150" ngf-src="EPCC.editpeopletData.image" >
                        </div>
                     </div>



                     <div class="form-group" ng-class="{ 'has-error' : peoplecmdForm.description.$invalid && !peoplecmdForm.description.$pristine, 'has-success' : peoplecmdForm.description.$valid && !peoplecmdForm.description.$pristine}">
                        <label for="title">Description</label>
                        <textarea type="text"  rows="5" name="description" class="form-control" ng-model="EPCC.editpeopletData.description" id="description" on-blur-validation required></textarea>
                        <p class="help-block">
                           <span ng-show="peoplecmdForm.description.$invalid && !peoplecmdForm.description.$pristine">Enetr  Description.</span>
                        </p>
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : peoplecmdForm.publish.$invalid && !peoplecmdForm.publish.$pristine, 'has-success' : peoplecmdForm.publish.$valid && !peoplecmdForm.publish.$pristine}">
                        <label for="publish">Status</label>
                        <select id="publish" name="publish" ng-model="EPCC.editpeopletData.status" convert-to-number class="form-control mb-10" on-blur-validation required>
                           <option value='1' selected="1">Publish</option>
                           <option value='2'>UnPublish</option>
                           <p class="help-block">
                              <span ng-show="peoplecmdForm.publish.$invalid && !peoplecmdForm.publish.$pristine">status is required.</span>
                           </p>
                        </select>
                     </div>

                     <div class="form-group tcol">
                        <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-disabled="EPCC.disbledValue" ng-click="EPCC.submit(peoplecmdForm.$valid,EPCC.editpeopletData);">
                        <i class="fa fa-upload"></i> <span>Submit</span>
                        </button>
                     </div>

                  </form>
               </div>
            </section>
            <!-- /tile -->
         </div>
         <!-- /col -->
      </div>
      <!-- /row -->
   </div>
   <!-- /page content -->
</div>
