<div class="modal-header">
    <h3>{{ACM.mode}} Category</h3>
</div>
<div>
    <form class="col-sm-12" name="selectcategoryform" role="form" enctype="multipart/form-data" submit-validate novalidate>
        <br>
        <div class="form-group" style="margin-top:10px" ng-class="{ 'has-error' : selectcategoryform.patname.$invalid && !selectcategoryform.patname.$pristine, 'has-success' :
selectcategoryform.patname.$valid && !selectcategoryform.patname.$pristine}">
<label class="control-label">{{'PARENT_CATEGORY' | translate}}</label>
<select class="form-control"  name="patname" id="patname" ng-model="ACM.selectedCategoryData.categoryid"
    ng-change="ACM.onChangeCategory(ACM.selectedCategoryData.categoryid)" on-blur-validation required>
                <option value=''>{{'SELECT_CATEGORY' | translate}}</option>
                <option ng-if="!category.parent" ng-repeat="category in ACM.categories" value="{{category._id}}"  >{{category.name}}</option>
            </select>
<label ng-show="selectcategoryform.patname.$invalid && !selectcategoryform.patname.$pristine">{{'CATEGORY_NAME_IS_REQUIRED' | translate}}.</label>
</div>
<div ng-if="ACM.selectedCategoryData.categoryid" class="form-group" ng-class="{ 'has-error' : selectcategoryform.catname.$invalid && !selectcategoryform.catname.$pristine, 'has-success' : selectcategoryform.catname.$valid && !selectcategoryform.catname.$pristine}">
    <label class="control-label">{{'CATEGORY_NAME' | translate}}</label>
    <select class="form-control"  name="catname" id="catname" ng-model="ACM.selectedCategoryData.childid"
        ng-change="ACM.onChangeCategoryChild(ACM.selectedCategoryData.childid)" on-blur-validation required>
                <option value=''>{{'SELECT_CATEGORY' | translate}}</option>
                <option ng-repeat="category in ACM.categories"  ng-if="ACM.selectedCategoryData.categoryid==category.parent" value="{{category._id}}">{{category.name}}</option>
                
            </select>
    <label ng-show="selectcategoryform.catname.$invalid && !selectcategoryform.catname.$pristine">{{'CATEGORY_NAME_IS_REQUIRED' | translate}}.</label>
</div>

<!-- <input type="hidden" class="form-control" name="someData" id="someData" ng-bind="ACM.selectedCategoryData.childid" on-blur-validation required> - -->
<!-- <input type="text" class="form-control" name="someData" id="someData" ng-bind="ACM.selectedCategoryData.childid"> - -->
<div ng-if="ACM.selectedCategoryData.childid" class="category-details" ng-show="ACM.selectedCategoryData.childid">
    <div ng-if="ACM.selectedCategoryData.childid" class="form-group" ng-class="{ 'has-error' : selectcategoryform.quick_pitch.$invalid && !selectcategoryform.quick_pitch.$pristine, 'has-success' : selectcategoryform.quick_pitch.$valid && !selectcategoryform.quick_pitch.$pristine}">
        <label class="control-label">{{'QUICK_PITCH' | translate}}</label>
        <textarea class="form-control" name="quick_pitch" ng-maxlength="140" id="quick_pitch" ng-model="ACM.selectedCategoryData.quick_pitch"
            rows="3" on-blur-validation required></textarea>
        <p class="help-block">
            <span ng-show="selectcategoryform.quick_pitch.$invalid && !selectcategoryform.quick_pitch.$pristine">{{'PITCH IS REQUIRED' | translate}}.</span>
        </p>
    </div>
    <!--<div ng-if="ACM.selectedCategoryData.childid" class="form-group">
                <label>
                    <input type="checkbox" name="task" id="task" ng-model="ACM.selectedCategoryData.terms"  on-blur-validation required> I will embody the TaskFixer Pledge in doing these tasks
                </label>
                <label style="margin-bottom: -192px;color:red" ng-show="selectcategoryform.task.$invalid && !selectcategoryform.task.$pristine">check box is required.</label>
            </div>-->
    <!--<div ng-if="ACM.selectedCategoryData.childid" class="form-group">-->
    <div ng-if="ACM.selectedCategoryData.childid" class="form-group">
        <label class="control-label">{{'SET_HOURLY_RATE' | translate}} ( {{'MINIMUM_HOURLY_RATE_IS' | translate}}  {{ACM.defaultcurrency[0].symbol}}{{ACM.MinimumAmount * ACM.defaultcurrency[0].value | number:2 }} /hr)</label>
    </div>
    <div ng-if="ACM.selectedCategoryData.childid" class="input-group mb-10">

        <div class="input-group mb-10">
            <span class="input-group-addon">{{ACM.defaultcurrency[0].symbol}}</span>
            <input type="number" name="rate" id="rate" class="form-control" ng-model="ACM.selectedCategoryData.hour_rate " id="exampleInputEmail1"
                min="{{ACM.MinimumAmount}}" on-blur-validation required>

            <!-- <span class="input-group-addon">.00</span> -->
        </div>
        <!--<div class ="col-md-6">
              <span class="input-group-addon"></span>
              <input type="number" name="rate" id="rate" ng-model="ACM.selectedCategoryData.hour_rate" class="form-control" id="exampleInputEmail1"  min="{{ACM.MinimumAmount}}"  on-blur-validation required>
              <span class="input-group-addon">.00</span>
             </div>-->
        <div class="col-md-12s">
            <p class="help-block">
                <label style="color:red;" ng-show="selectcategoryform.rate.$invalid && !selectcategoryform.rate.$pristine && selectcategoryform.rate.$error.required"
>Hourly Rate is required.</label>
<label style="color:red;" ng-show="selectcategoryform.rate.$error.min" >{{'MINIMUM HOURLY RATE SHOULD BE' | translate}} {{ACM.defaultcurrency[0].symbol}} {{ACM.MinimumAmount*  ACM.defaultcurrency[0].value | number:2}}  /hr.</label>
</p>
</div>
</div>
<!--</div>-->
</div>

<div ng-if="ACM.selectedCategoryData.childid" class="form-group " ng-class="{ 'has-error' : selectcategoryform.levels.$invalid && !selectcategoryform.levels.$pristine, 'has-success' : selectcategoryform.levels.$valid && !selectcategoryform.levels.$pristine}">
    <label class="control-label">{{'LEVEL_OF_EXPERIENCE' | translate}}</label>
    <select name="levels" class="form-control" id="rate" ng-model="ACM.selectedCategoryData.experience" on-blur-validation required>
                <option value=''>{{'SELECT_YOUR_EXPERIENCE' | translate}}</option>
                <option ng-repeat="experience in ACM.experiences" value="{{experience._id}}">{{experience.name}}</option>
            </select>
    <p class="help-block">
        <label style="margin-bottom: -192px;color:red" ng-show="selectcategoryform.levels.$invalid && !selectcategoryform.levels.$pristine">experience is required.</label>
</p>
</div>

<!--   <div ng-if="ACM.selectedCategoryData.categoryid" class="form-group">
            <label class="control-label">Upload Experience Document</label>

            <input ui-jq="filestyle" type="file" ngf-select="temp=true" ng-model="ACM.selectedCategoryData.file" name="file" accept="image/*"
                ngf-max-size="10MB" ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Find file', iconName: 'fa fa-inbox'}">
            <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
            <img  height="150" ngf-src="ACM.selectedCategoryData.file" >

           <a href="{{ACM.selectedCategoryData.file}}" download="{{ACM.selectedCategoryData.file}}"> {{ACM.selectedCategoryData.file}} </a>
        </div>-->

</form>
</div>
<div class="modal-footer">
    <!--  <button class="btn btn-primary" type="button" ng-click="ACM.ok(selectcategoryform.$valid)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ACM.cancel()">Cancel</button>-->
    <div ng-if="ACM.selectedCategoryData.childid" class="form-group">
        <button class="btn btn-primary" type="submit" ng-click="ACM.ok(selectcategoryform.$valid)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="ACM.cancel()">Cancel</button>
    </div>
</div>

<!--<style>
.input-group {
    position: relative;
    display: table;
    width: 212px;
    border-collapse: separate;
    padding: 13px 0 0 5px;
}
</style>-->
