doctype html
html(style='height: 100%;display: table;width:100%;')
  head
      title Handy For All - Installation
  body(style='text-align:center; background-image:url(app/installation/bg.jpg); background-size:cover; display: table-cell; vertical-align: middle;')
    div(style='width:980px;background:rgba(0, 0, 0, 0.10);vertical-align: middle;padding: 100px;display: inline-block;')
      h1(style='color: #000; text-transform: uppercase;') #{title}
      h2(style='color: #000; text-transform: uppercase;') #{message}
