doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href= base_url + 'uploads/mobile/app-style.css', type='text/css', media='all')
    body
        section
            .app-content
                .main
                    .app-content-box
                        h1
                        h1 #{ __("Your requested page could not be found or it is currently unavailable") }.
